---
import Layout from '@layouts/Layout.astro';
import WorksDetailview from '@components/WorksDetailview.astro';

interface Page {
  id: number;
  title: string;
  url: string;
  description: string[] | string;
  authorComments: string[];
  images: { src: string }[];
}

const pages: Page[] = [
  {
    id: 1,
    title: 'SFD21JAPAN 様',
    url: 'https://sfd21japan.com',
    description: [
      '福岡の NPO 法人 SFD21JAPAN 様の Webサイトを制作しました。',
      'SFD様は、青少年の立ち直り支援を行っている団体で、福岡市西区を拠点に活動しております。',
    ],
    authorComments: [
      '本案件では、コーディングと CMS 環境の構築を担当させて頂きました。',
      'スタイリングは BootStrap5 をベースに、SCSS でカスタム CSS を追加しています。',
      'また、WordPress 開発環境として wp-env を用いて Docker でローカル開発環境を構築しました。',
    ],
    images: [
      { src: '/images/works/item_01/img_01.jpg' },
      { src: '/images/works/item_01/img_02.jpg' },
    ],
  },
];

export const getStaticPaths = () => {
  return [{ params: { id: 1 } }];
};

const { id } = Astro.params;

const page = pages.find((page) => page.id.toString() === id);
---

<Layout>
  {
    !page ? (
      <div>not found</div>
    ) : (
      <main>
        <div class="page-container">
          <WorksDetailview {...page} />
        </div>
      </main>
    )
  }
</Layout>

<style lang="scss">
  @import '../../styles/breakpoint.scss';

  .page-container {
    padding-top: 80px;
    padding-bottom: 48px;
    @media screen and (width > $breakpoint-md) {
      padding-top: 69px + 80px;
      padding-bottom: 64px;
    }
  }

  .page-heading {
    font-size: var(--fs-4xl);
  }

  .footer {
    margin-top: 48px;
  }
</style>
