---
import Layout from '@layouts/Layout.astro';

interface Page {
  id: number;
  title: string;
  url: string;
  description: string;
  authorComments: string[];
  images: string[];
}

const pages: Page[] = [
  {
    id: 1,
    title: 'SFD21Japan',
    url: 'https://sfd21japan.com',
    description: 'このサイトはうんたらかんたら',
    authorComments: ['ほげ', 'ふが'],
    images: [],
  },
];

export const getStaticPaths = () => {
  return [{ params: { id: 1 } }];
};

const { id } = Astro.params;

const page = pages.find((page) => page.id.toString() === id);

console.log(Astro.props);
---

<Layout>
  {
    !page ? (
      <div>not found</div>
    ) : (
      <main>
        <div class="page-container">
          <h1 class="page-heading">ただいま準備中です。</h1>
          <div class="footer">
            <a href="/#works" class="c-button-border-gradient">
              <span class="c-text-gradient">前の画面へもどる</span>
            </a>
          </div>
        </div>
      </main>
    )
  }
</Layout>

<style lang="scss">
  .page-container {
    padding-top: 69px + 80px;
    text-align: center;
  }

  .page-heading {
    font-size: var(--fs-4xl);
  }

  .footer {
    margin-top: 48px;
  }
</style>
