// Bootstrap5 に準拠 (2023.1)
// @see https://getbootstrap.jp/docs/5.0/layout/breakpoints/
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-2xl: 1400px;
