@import 'breakpoint.scss';

@font-face {
  font-family: 'Gen Jyuu Gothic L';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/genjyuul_normal_subset.woff2') format('woff2'),
    url('/fonts/genjyuul_normal_subset.woff') format('woff');
}

@font-face {
  font-family: 'Gen Jyuu Gothic L';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/genjyuul_medium_subset.woff2') format('woff2'),
    url('/fonts/genjyuul_medium_subset.woff') format('woff');
}

@font-face {
  font-family: 'Gen Jyuu Gothic L';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('/fonts/genjyuul_heavy_subset.woff2') format('woff2'),
    url('/fonts/genjyuul_heavy_subset.woff') format('woff');
}

:root {
  --font-family-default: system-ui, sans-serif;
  --font-family-secondary: 'Gen Jyuu Gothic L', system-ui, sans-serif;
  --font-family-special: 'Gen Jyuu Gothic L', 'Helvetica Neue', Helvetica, Arial,
    sans-serif;

  --fw-default: 400;
  --fw-bold: 600;
  --fw-exbold: 900;

  --fs-default: 1rem; // 16px
  --fs-3xs: 0.625rem; // 10px
  --fs-2xs: 0.6875rem; // 11px
  --fs-xs: 0.75rem; // 12px
  --fs-sm: 0.875rem; // 14px
  --fs-lg: 1.125rem; // 18px
  --fs-xl: 1.25rem; // 20px
  --fs-2xl: 1.5rem; // 24px;
  --fs-3xl: 2rem; // 32px;
  --fs-4xl: 2.5rem; // 40px;
  --fs-5xl: 4rem; // 64px;

  --bg-white: #fff;

  --text-black: #222;
  --text-gray: #383838;
  --text-white: #fff;

  --container-width: 1080px;

  --breakpoint-sm: $breakpoint-sm;
  --breakpoint-md: $breakpoint-md;
  --breakpoint-lg: $breakpoint-lg;
  --breakpoint-xl: $breakpoint-xl;
  --breakpoint-2xl: $breakpoint-2xl;

  // border や text のグラデーション
  --gradient-primary: linear-gradient(90deg, #fb2222 -8.76%, #6c27ff 112.77%);

  // 主に背景として使うグラデーション
  --gradient-secondary: linear-gradient(
    90deg,
    rgba(208, 79, 110, 0.64) -5.65%,
    rgba(183, 177, 49, 0.646667) 47.68%,
    rgba(42, 207, 178, 0.624) 105.65%
  );
}

:where(html, body) {
  min-height: 100vh;
}

html {
  background-color: var(--bg-white);
  color: var(--text-gray);
  color-scheme: light;
  scroll-behavior: smooth;
  @media (width > $breakpoint-md) {
    scroll-padding-top: 56px;
  }
}

body {
  position: relative;
  font-family: var(--font-family-default);
  font-style: normal;
  font-weight: 400;
  margin: 0;
}

a {
  color: var(--text-gray);
  text-decoration: none;
}

.container {
  margin: 0 auto;
  padding-right: 16px;
  padding-left: 16px;
  max-width: var(--container-width);
}
