---
import Layout from '@layouts/Layout.astro';
import FirstView from '@components/FirstView.astro';
import ConceptView from '@components/ConceptView.astro';
import ServiceView from '@components/ServiceView.astro';
import WorksView from '@components/WorksView.astro';
import ProfileView from '@components/ProfileView.astro';
import ContactView from '@components/ContactView.astro';
---

<Layout>
  <main>
    <section>
      <FirstView />
    </section>

    <section id="concept">
      <ConceptView />
    </section>

    <section id="service">
      <ServiceView />
    </section>

    <section id="works">
      <WorksView />
    </section>

    <section id="profile">
      <ProfileView />
    </section>

    <section id="contact">
      <ContactView />
    </section>

    <div class="thanks">
      <h2 class="thanks__heading">THANKS!</h2>
      <p class="thanks__message">最後までご覧頂き、ありがとうございました。</p>
    </div>
  </main>
</Layout>

<style lang="scss">
  @import '../styles/breakpoint.scss';

  .thanks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 64px 0;
    @media (width > $breakpoint-sm) {
      min-height: 80vh;
      padding: 80px 0;
    }
  }

  .thanks__heading {
    font-size: var(--fs-3xl);
    font-weight: var(--fw-exbold);
    @media (width > $breakpoint-sm) {
      font-size: var(--fs-4xl);
    }
  }

  .thanks__message {
    margin-top: 64px;
    font-size: var(--fs-md);
    @media (width > $breakpoint-sm) {
      margin-top: 80px;
      font-size: var(--fs-lg);
    }
  }
</style>
