---
import Layout from '@layouts/Layout.astro';
import FirstView from '@components/FirstView.astro';
import ConceptView from '@components/ConceptView.astro';
import ServiceView from '@components/ServiceView.astro';
import WorksView from '@components/WorksView.astro';
import ProfileView from '@components/ProfileView.astro';
---

<Layout>
  <main>
    <section>
      <FirstView />
    </section>

    <section id="concept">
      <ConceptView />
    </section>

    <section id="service">
      <ServiceView />
    </section>

    <section id="works">
      <WorksView />
    </section>

    <section id="profile">
      <ProfileView />
    </section>

    <div class="thanks">
      <p>最後までご覧頂き、ありがとうございました。</p>
    </div>
  </main>
</Layout>

<style lang="scss">
  @import '../styles/breakpoint.scss';

  .thanks {
    background-color: #f8f8f8;
    text-align: center;
    padding: 64px 0;
    font-size: var(--fs-lg);
    @media (width > $breakpoint-sm) {
      padding: 120px 0;
      font-size: var(--fs-2xl);
    }
  }
</style>
