<div class="wrapper">
  <div class="container">
    <h2 class="section-heading">なんのためのWebサイト？</h2>
    <div class="paragraphs">
      <p class="p">SUZUKI SOSAKU は、お客様との対話を大事にしています。</p>

      <p class="p">
        Webサイトを作りたいと考えるとき、<br />
        そこには必ず「なんのためにWebサイトが必要か」という目的があるはずです。
      </p>

      <p class="p">「目的」の裏には、何らかの課題がひそんでいます。</p>

      <p class="p">
        まずは、十分に時間をかけてお客様にヒアリングさせていただき、<br
          class="u-hidden-under-sm"
        />
        お客様の持っている本質的な課題を発見するお手伝いをさせてください。
      </p>
    </div>

    <div class="nav-contact">
      <a href="/#contact" class="c-button-border-gradient">
        <span class="c-text-gradient">ご相談はこちらから</span>
      </a>
    </div>
  </div>
</div>

<style lang="scss">
  @import '../styles/breakpoint.scss';

  .wrapper {
    background-color: #f8f8f8;
    padding-top: 48px;
    padding-bottom: 48px;
    display: flex;
    align-items: center;
    @media (width > $breakpoint-sm) {
      padding-top: 96px;
      padding-bottom: 96px;
    }
    @media (height > 700px) {
      height: 100vh;
    }
  }

  .section-heading {
    font-size: var(--fs-2xl);
    font-weight: 400;
    text-align: center;
    @media (width > $breakpoint-sm) {
      font-size: var(--fs-4xl);
    }
  }

  .paragraphs {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 48px;
    @media (width > $breakpoint-sm) {
      gap: 48px;
      margin-top: 96px;
      text-align: center;
      font-size: var(--fs-lg);
    }
  }

  .p {
    line-height: 1.8;
  }

  .nav-contact {
    margin-top: 48px;
    text-align: center;
    @media (width > $breakpoint-sm) {
      margin-top: 80px;
    }
  }
</style>
