<div class="wrapper">
  <div class="container">
    <div class="inner">
      <h2 class="section-heading">シンプルでよいものを</h2>

      <div class="paragraphs">
        <p class="p">
          福岡を拠点とするWebデザイナー、鈴木壮大（すずきそうた）です。
        </p>

        <p class="p">
          主に、Webサイトの制作やコーディングのお仕事を承っております。
        </p>

        <p class="p">
          企画から制作、納品までひとりで請け負っているため、制作会社などと比べるとコミュニケーションがスムーズに取れることや、スピーディでコストも抑えられるのがメリットです。
        </p>

        <p class="p">
          「シンプルでよいものを」というコンセプトに従って、実用的で必要十分なWebサイトをお作りいたします。
        </p>
      </div>

      <div class="nav-contact">
        <a href="/#contact" class="c-button-border-gradient">
          <span class="c-text-gradient">ご相談はこちらから</span>
        </a>
      </div>
    </div>
  </div>
</div>

<style lang="scss">
  @import '../styles/breakpoint.scss';

  .wrapper {
    background-color: #f8f8f8;
    padding-top: 48px;
    padding-bottom: 48px;
    display: flex;
    align-items: center;
    @media (width > $breakpoint-sm) {
      padding-top: 96px;
      padding-bottom: 96px;
    }
    @media (height > 700px) {
      height: 100vh;
    }
  }

  .inner {
    max-width: 640px;
    text-align: center;
  }

  .section-heading {
    font-size: var(--fs-3xl);
    font-weight: var(--fw-default);
    text-align: center;
    @media (width > $breakpoint-sm) {
      font-size: var(--fs-4xl);
    }
  }

  .paragraphs {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 48px;
    @media (width > $breakpoint-sm) {
      gap: 36px;
      margin-top: 96px;
      font-size: var(--fs-lg);
    }
  }

  .p {
    line-height: 1.8;
  }

  .nav-contact {
    margin-top: 48px;
    text-align: center;
    @media (width > $breakpoint-sm) {
      margin-top: 80px;
    }
  }
</style>
