<div class="wrapper">
  <div class="firstview">
    <div class="firstview-container">
      <div class="copy">
        <h1 class="copy__main">
          <span class="text-gradient text-gradient--animated"
            >SUZUKI SOSAKU</span
          >
        </h1>
        <p class="copy__above">
          <span class="text-gradient text-gradient--animated"
            >Web Design & Development</span
          >
        </p>
      </div>

      <p class="lead">福岡で Web サイト制作、やってます。</p>
    </div>
  </div>

  <div class="nav-next">
    <a href="/#concept" class="mouse"
      ><span class="c-text-gradient">NEXT</span></a
    >
  </div>
</div>

<style lang="scss">
  @import '../styles/breakpoint.scss';

  .wrapper {
    position: relative;
    min-height: calc(100vh - 90px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media (width > $breakpoint-sm) {
      min-height: calc(100vh - 110px);
    }
  }
  .firstview {
    position: relative;
    top: -45px; // 目測値
    @media (width > $breakpoint-sm) {
      top: -57px;
    }
  }
  .firstview-container {
    max-width: 680px;
    padding: 0 16px;
    margin: 0 auto;
  }
  .copy {
    display: flex;
    flex-direction: column;
    font-family: var(--font-family-special);
  }
  .copy__main {
    order: 2;
    font-size: var(--fs-4xl);
    font-weight: var(--fw-exbold);
    margin: 0;
    @media (width > $breakpoint-sm) {
      font-size: var(--fs-5xl);
    }
  }
  .text-gradient {
    color: transparent;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-color: #ff4e16;
    background-image: var(--gradient-primary);
    &.text-gradient--animated {
      background-size: 300%;
      animation: text-gradient-animate 5s 0s ease-in infinite alternate;
    }
    @keyframes text-gradient-animate {
      0% {
        background-position-x: 0%;
        background-position-y: 30%;
      }
      50% {
        background-position-x: 50%;
        background-position-y: 80%;
      }
      100% {
        background-position-x: 100%;
        background-position-y: 70%;
      }
    }
  }
  .copy__above {
    order: 1;
    font-weight: var(--fw-bold);
    font-size: 1rem;
    @media (width > $breakpoint-sm) {
      font-size: var(--fs-lg);
    }
  }
  .lead {
    margin-top: 8px;
    font-size: 0.875rem;
    @media (width > $breakpoint-sm) {
      font-size: 1rem;
    }
  }
  .nav-next {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 64px;
    margin: auto;
    text-align: center;
    @media (width > $breakpoint-sm) {
      bottom: 96px;
    }
  }

  .mouse {
    position: relative;
    background-color: white;
    padding: 12px 4px;
    width: 24px;
    height: 40px;
    border-radius: 50px;
    border: 3px double transparent;
    background-image: linear-gradient(rgba(#fff, 0.9), rgba(#fff, 0.9)),
      var(--gradient-primary);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    animation: mouseLoop 8s ease 2s infinite, mouseHover 8s ease 3s infinite;
    transition: box-shadow 0.2s 0.2s ease, width 0.2s 0s ease,
      height 0.2s 0s ease, font-size 0.1s 0.2s ease;
    font-size: 0;
    &:hover {
      box-shadow: 0px 0px 15.5px rgba(0, 0, 0, 0.051),
        0px 0px 22.5px rgba(0, 0, 0, 0.048), 0px 0px 40px rgba(0, 0, 0, 0.07);
      width: 60px;
      height: 60px;
      font-size: 1rem;
      font-weight: var(--fw-bold);
      animation: none;
    }
  }

  @keyframes mouseHover {
    10% {
      box-shadow: 0px 0px 15.5px rgba(0, 0, 0, 0.051),
        0px 0px 22.5px rgba(0, 0, 0, 0.048), 0px 0px 40px rgba(0, 0, 0, 0.07);
      width: 60px;
      height: 60px;
      font-size: 1rem;
      font-weight: var(--fw-bold);
    }
    40% {
      box-shadow: 0px 0px 15.5px rgba(0, 0, 0, 0.051),
        0px 0px 22.5px rgba(0, 0, 0, 0.048), 0px 0px 40px rgba(0, 0, 0, 0.07);
      width: 60px;
      height: 60px;
      font-size: 1rem;
      font-weight: var(--fw-bold);
    }
    50% {
      box-shadow: none;
      width: 24px;
      height: 40px;
      font-size: 0;
      font-weight: var(--fw-default);
    }
  }

  @keyframes mouseLoop {
    2% {
      transform: translateY(10px);
    }
    4% {
      transform: translateY(0);
    }
    6% {
      transform: translateY(10px);
    }
    8% {
      transform: translateY(0);
    }
  }
</style>
