<div class="wrapper">
  <div class="firstview">
    <div class="firstview-container">
      <div class="copy">
        <h1 class="copy__main">
          <span class="text-gradient text-gradient--animated"
            >SUZUKI SOSAKU</span
          >
        </h1>
        <p class="copy__above">
          <span class="text-gradient text-gradient--animated"
            >Web Design & Development</span
          >
        </p>
      </div>

      <p class="lead">Webサイト制作 / コーディング / フロントエンド開発</p>
    </div>
  </div>

  <div class="nav-next">
    <a href="/#concept" class="mouse"></a>
  </div>
</div>

<style lang="scss">
  @import '../styles/breakpoint.scss';

  .wrapper {
    position: relative;
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media (width > $breakpoint-sm) {
      min-height: calc(100vh - 76px);
    }
  }
  .firstview {
    position: relative;
  }
  .firstview-container {
    max-width: 680px;
    padding: 0 16px;
    margin: 0 auto;
  }
  .copy {
    display: flex;
    flex-direction: column;
    font-family: var(--font-family-special);
  }
  .copy__main {
    order: 2;
    font-size: var(--fs-4xl);
    font-weight: var(--fw-exbold);
    margin: 0;
    @media (width > $breakpoint-sm) {
      font-size: var(--fs-5xl);
    }
  }
  .text-gradient {
    color: transparent;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-color: #ff4e16;
    background-image: var(--gradient-primary);
    &.text-gradient--animated {
      background-size: 300%;
      animation: text-gradient-animate 5s 0s ease-in infinite alternate;
    }
    @keyframes text-gradient-animate {
      0% {
        background-position-x: 0%;
        background-position-y: 30%;
      }
      50% {
        background-position-x: 50%;
        background-position-y: 80%;
      }
      100% {
        background-position-x: 100%;
        background-position-y: 70%;
      }
    }
  }
  .copy__above {
    order: 1;
    font-weight: var(--fw-bold);
    font-size: 1rem;
    @media (width > $breakpoint-sm) {
      font-size: var(--fs-lg);
    }
  }
  .lead {
    margin-top: 8px;
    font-size: 0.875rem;
    @media (width > $breakpoint-sm) {
      font-size: 1rem;
    }
  }
  .nav-next {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 64px;
    margin: auto;
    text-align: center;
    @media (width > $breakpoint-sm) {
      bottom: 96px;
    }
  }

  .mouse {
    position: relative;
    background-color: white;
    padding: 12px 4px;
    width: 24px;
    height: 40px;
    border-radius: 50px;
    border: 3px double transparent;
    background-image: linear-gradient(#fff, #fff), var(--gradient-primary);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    display: inline-block;
    animation: mouseLoop 4s ease 4s infinite;
  }

  @keyframes mouseLoop {
    5% {
      transform: translateY(10px);
    }
    10% {
      transform: translateY(0);
    }
    15% {
      transform: translateY(10px);
    }
    20% {
      transform: translateY(0);
    }
  }
</style>
