---
import { Image } from '@astrojs/image/components';
---

<div class="wrapper">
  <div class="container">
    <header class="section-header">
      <h2 class="section-heading">
        <span class="c-text-gradient">PROFILE</span>
      </h2>
      <p class="section-lead">制作者プロフィール</p>
    </header>

    <div class="section-body">
      <div class="profile-stack">
        <div class="profile-stack__image">
          <Image
            class="profile-img"
            src="/images/profile_cat.jpg"
            width={120}
            height={120}
            alt="プロフィール画像"
          />
        </div>
        <div class="profile-stack__description">
          <p class="profile-name">鈴木壮大（すずきそうた）</p>
          <div class="profile-summary">
            <p class="summary-paragraph">
              1986年生まれ。フリーランスWebデザイナー。
            </p>
            <p class="summary-paragraph">
              Web制作会社一社、スタートアップ二社を経て、2023年にフリーランスWebデザイナーとして独立。
            </p>
            <p class="summary-paragraph">
              もともとはWebフロントエンドエンジニア。
            </p>
          </div>
        </div>
      </div>

      <div class="nav-contact">
        <a href="/#contact" class="c-button-border-gradient">
          <span class="c-text-gradient">ご相談はこちらから</span>
        </a>
      </div>
    </div>
  </div>

  <style lang="scss">
    @import '../styles/breakpoint.scss';

    .wrapper {
      padding-top: 48px;
      padding-bottom: 48px;
      @media (width > $breakpoint-sm) {
        padding-top: 96px;
        padding-bottom: 96px;
      }
    }

    .section-header {
      display: flex;
      flex-direction: column;
      gap: 16px;
      text-align: center;
      @media (width > $breakpoint-sm) {
        gap: 32px;
      }
    }

    .section-heading {
      font-family: var(--font-family-special);
      font-size: var(--fs-2xl);
      @media (width > $breakpoint-sm) {
        font-size: var(--fs-4xl);
      }
    }

    .section-lead {
      font-size: var(--fs-md);
      @media (width > $breakpoint-sm) {
        font-size: var(--fs-lg);
      }
    }

    .section-body {
      margin: auto;
      margin-top: 48px;
      max-width: 600px;
      @media (width > $breakpoint-sm) {
        margin-top: 80px;
      }
    }

    .profile-stack {
      display: grid;
      place-items: center;
      gap: 24px;
      @media (width > $breakpoint-sm) {
        grid-template-columns: 160px auto;
        gap: 32px;
      }
    }

    .profile-name {
      font-weight: 600;
    }

    .profile-summary {
      margin-top: 16px;
      display: grid;
      gap: 8px;
    }

    .summary-paragraph {
      line-height: 1.7;
    }

    .profile-img {
      border-radius: 50%;
      width: 120px;
      vertical-align: bottom;
      @media (width > $breakpoint-sm) {
        width: 160px;
      }
    }

    .nav-contact {
      margin-top: 48px;
      text-align: center;
      @media (width > $breakpoint-sm) {
        margin-top: 80px;
      }
    }
  </style>
</div>
