---
import GlobalHeader from '@components/GlobalHeader.astro';
import GlobalFooter from '@components/GlobalFooter.astro';
import Head from '@components/Head.astro';

import '@styles/reset.scss';
import '@styles/global.scss';

export interface Props {
  title?: string;
  description?: string;
}
---

<!DOCTYPE html>
<html lang="ja" class="no-js">
  <Head {...Astro.props} />
  <body>
    <GlobalHeader />
    <slot />
    <GlobalFooter />
  </body>
</html>
